@import '../../../styles/mixins.scss';

.burger {
  border: none;
  background: none;
  margin-left: 18px;
}

.burgerIcon {
  width: 25px;
  height: 25px;
  @include breakpoint(tablet) { display: none; }
}
