@import '../../../../styles/colors.scss', '../../../../styles/mixins.scss';
$lightGreen: #33D291;


.readyToGoButton {
  border: none;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  background-color: $white;
  width: 100%;
  padding: 8px;
  background-color: $white;
  border-radius: 60px;
  @include breakpoint(tablet) {
    width: max-content;
    margin-top: 0;
  }
  &:hover {
    background-color: $lightGreen;
  }
}

.buttonTitle {
  background-color: $lightGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 0 48px;
  border-radius: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
  @include breakpoint(tablet) {
    width: max-content;
    padding: 32px;
    font-size: 31px;
  }
}
