@import '../../styles/colors.scss', '../../styles/mixins.scss';


.generalButton {
  width: 100%;
  margin-top: 20px;
  border: none;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.01);
  background-color: $white;
  border-radius: 30px;
  @include breakpoint(tablet) {
    width: max-content;
  }
}

.generalButtonTitle {
  color: $darkBlue;
  padding: 22px 16px;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  @include breakpoint(tablet) {
    padding: 20px 30px;
    font-size: 20px;
  }
}