@import '../styles/colors';

.toggle-container {
    width: 25.50rem;

    border-radius: .75rem;

    background-color: $color-white;

    cursor: pointer;
    user-select: none;

    height: 3.0rem;
    position: relative;
}

.dialog-button {
    font-weight: bold;
    cursor: pointer;
    color: $color-white;

    padding: 8px 12px;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    box-sizing: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;

    transition: all .4s ease !important;

    min-width: 13rem;
    max-width: 13rem;

    top: 0rem;

    height: 3.0rem;

    &-on {
        left: 0rem;

        background-color: $color-default-background;

        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

    &-off {
        left: 12.5rem !important;

        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

}

.toggle-button {
    border-radius: .75rem;

    &-on {
        background-color: $color-primary !important;
        color: $color-white !important;
        height: 3.0rem;
    }

    &-off {
        background-color: $color-primary !important;
        color: $color-white !important;
        height: 3.0rem;
    }

    &-disabled {
        background-color: $color-default-background !important;
        color: $color-white !important;
        height: 3.0rem;
    }

}
