@import 'sizing', 'colors';

$border-roundness-1: $sizing-1;
$border-roundness-2: $sizing-2;
$border-roundness-3: $sizing-3;
$border-roundness-4: $sizing-4;
$border-roundness-5: $sizing-5;
$border-roundness-6: $sizing-6;
$border-roundness-7: $sizing-7;
$border-roundness-8: $sizing-8;
$border-roundness-9: $sizing-9;
$border-roundness-10: $sizing-10;
$border-roundness-11: $sizing-11;
$border-roundness-12: $sizing-12;
$border-roundness-13: $sizing-13;
$border-roundness-14: $sizing-14;
$border-roundness-15: $sizing-15;
$border-roundness-16: $sizing-16;

.custom-border {

    &-solid {

        &-light-gray-1 {
            border: $sizing-small-1 solid $color-light-gray !important;
        }

        &-light-gray-2 {
            border: $sizing-small-2 solid $color-light-gray !important;
        }

        &-light-gray-3 {
            border: $sizing-small-3 solid $color-light-gray !important;
        }

        &-light-gray-4 {
            border: $sizing-small-4 solid $color-light-gray !important;
        }

        &-light-gray-5 {
            border: $sizing-small-5 solid $color-light-gray !important;
        }

        &-light-gray-6 {
            border: $sizing-small-6 solid $color-light-gray !important;
        }

        &-light-gray-7 {
            border: $sizing-small-7 solid $color-light-gray !important;
        }

        &-light-gray-8 {
            border: $sizing-small-8 solid $color-light-gray !important;
        }

        &-light-gray-9 {
            border: $sizing-small-9 solid $color-light-gray !important;
        }

        &-light-gray-10 {
            border: $sizing-small-10 solid $color-light-gray !important;
        }

        &-light-gray-11 {
            border: $sizing-small-11 solid $color-light-gray !important;
        }

        &-light-gray-12 {
            border: $sizing-small-12 solid $color-light-gray !important;
        }

        &-light-gray-13 {
            border: $sizing-small-13 solid $color-light-gray !important;
        }

        &-light-gray-14 {
            border: $sizing-small-14 solid $color-light-gray !important;
        }

        &-light-gray-15 {
            border: $sizing-small-15 solid $color-light-gray !important;
        }

        &-light-gray-16 {
            border: $sizing-small-16 solid $color-light-gray !important;
        }
        

        &-dark-gray-1 {
            border: $sizing-small-1 solid $color-dark-gray !important;
        }

        &-dark-gray-2 {
            border: $sizing-small-2 solid $color-dark-gray !important;
        }

        &-dark-gray-3 {
            border: $sizing-small-3 solid $color-dark-gray !important;
        }

        &-dark-gray-4 {
            border: $sizing-small-4 solid $color-dark-gray !important;
        }

        &-dark-gray-5 {
            border: $sizing-small-5 solid $color-dark-gray !important;
        }

        &-dark-gray-6 {
            border: $sizing-small-6 solid $color-dark-gray !important;
        }

        &-dark-gray-7 {
            border: $sizing-small-7 solid $color-dark-gray !important;
        }

        &-dark-gray-8 {
            border: $sizing-small-8 solid $color-dark-gray !important;
        }

        &-dark-gray-9 {
            border: $sizing-small-9 solid $color-dark-gray !important;
        }

        &-dark-gray-10 {
            border: $sizing-small-10 solid $color-dark-gray !important;
        }

        &-dark-gray-11 {
            border: $sizing-small-11 solid $color-dark-gray !important;
        }

        &-dark-gray-12 {
            border: $sizing-small-12 solid $color-dark-gray !important;
        }

        &-dark-gray-13 {
            border: $sizing-small-13 solid $color-dark-gray !important;
        }

        &-dark-gray-14 {
            border: $sizing-small-14 solid $color-dark-gray !important;
        }

        &-dark-gray-15 {
            border: $sizing-small-15 solid $color-dark-gray !important;
        }

        &-dark-gray-16 {
            border: $sizing-small-16 solid $color-dark-gray !important;
        }

        &-tertiary-1 {
            border: $sizing-small-1 solid $color-tertiary !important;
        }

        &-tertiary-2 {
            border: $sizing-small-2 solid $color-tertiary !important;
        }

        &-tertiary-3 {
            border: $sizing-small-3 solid $color-tertiary !important;
        }

        &-tertiary-4 {
            border: $sizing-small-4 solid $color-tertiary !important;
        }

        &-tertiary-5 {
            border: $sizing-small-5 solid $color-tertiary !important;
        }

        &-tertiary-6 {
            border: $sizing-small-6 solid $color-tertiary !important;
        }

        &-tertiary-7 {
            border: $sizing-small-7 solid $color-tertiary !important;
        }

        &-tertiary-8 {
            border: $sizing-small-8 solid $color-tertiary !important;
        }

        &-tertiary-9 {
            border: $sizing-small-9 solid $color-tertiary !important;
        }

        &-tertiary-10 {
            border: $sizing-small-10 solid $color-tertiary !important;
        }

        &-tertiary-11 {
            border: $sizing-small-11 solid $color-tertiary !important;
        }

        &-tertiary-12 {
            border: $sizing-small-12 solid $color-tertiary !important;
        }

        &-tertiary-13 {
            border: $sizing-small-13 solid $color-tertiary !important;
        }

        &-tertiary-14 {
            border: $sizing-small-14 solid $color-tertiary !important;
        }

        &-tertiary-15 {
            border: $sizing-small-15 solid $color-tertiary !important;
        }

        &-tertiary-16 {
            border: $sizing-small-16 solid $color-tertiary !important;
        }

    }

    

}
