$color-primary: #33D291;
$color-secondary: #33ACFE;
$color-tertiary: #217350;
$color-quaternary: #2670A3;

$color-black: #000000;
$color-white: #FFFFFF;

$color-light-gray:  #E7E5D5;
$color-dark-gray:  #CAC6C6;

$color-default-background: #faf8e9;

.color {

    &--primary {
      color: $color-primary !important;
    }

    &--secondary {
      color: $color-secondary !important;
    }

    &--tertiary {
      color: $color-tertiary !important;
    }

    &--quaternary {
      color: $color-quaternary !important;
    }

    &--black {
      color: $color-black !important;
    }

    &--light-gray {
        color: $color-light-gray !important;
    }

    &--dark-gray {
        color: $color-dark-gray !important;
    }

    &--app-default {
        color: $color-default-background !important
    }

}

.background-color {

    &--primary {
        background-color: $color-primary !important;
      }
  
    &--secondary {
        background-color: $color-secondary !important;
    }

    &--tertiary {
        background-color: $color-tertiary !important;
    }

    &--quaternary {
        background-color: $color-quaternary !important;
    }

    &--black {
        background-color: $color-black !important;
    }

    &--light-gray {
        background-color: $color-light-gray !important;
    }

    &--dark-gray {
        background-color: $color-dark-gray !important;
    }

    &--app-default {
        background-color: $color-default-background !important
    }

}

  
