@import 'sizing', 'colors';

$card-container-width: 40rem;

.custom-card {

    &-container {
        width: $card-container-width !important;
        background-color: $color-default-background !important;
        border: none !important;
        padding: 5rem !important;
        margin-top: $sizing-12 !important;
        margin-bottom: $sizing-12 !important;
    }

}