@import 'sizing', 'colors';

.input {

    &--container {
        border-radius: $sizing-6 !important;
        border: 1px solid $color-dark-gray !important;
        padding: $sizing-3 !important;
        color: #999 !important;;
        width: -moz-available !important;
    }

    &--container:placeholder-shown {
        color: #CAC6C6 !important;
        font-weight: bold !important;
    }

    &--text {
        border: $sizing-2 solid #FFFFFF !important;
        border-radius: $sizing-6 !important;
    }

}
