@import 'sizing';

.container {
    
    &-default-1 {
        padding: $sizing-1 !important;
    }

    &-default-2 {
        padding: $sizing-2 !important;
    }

    &-default-3 {
        padding: $sizing-3 !important;
    }

    &-default-4 {
        padding: $sizing-4 !important;
    }

    &-default-5 {
        padding: $sizing-5 !important;
    }

    &-default-6 {
        padding: $sizing-6 !important;
    }

    &-default-7 {
        padding: $sizing-7 !important;
    }

    &-default-8 {
        padding: $sizing-8 !important;
    }

    &-default-9 {
        padding: $sizing-9 !important;
    }

    &-default-10 {
        padding: $sizing-10 !important;
    }

    &-default-11 {
        padding: $sizing-11 !important;
    }

    &-default-12 {
        padding: $sizing-12 !important;
    }

    &-default-13 {
        padding: $sizing-13 !important;
    }

    &-default-14 {
        padding: $sizing-14 !important;
    }

    &-default-15 {
        padding: $sizing-15 !important;
    }

    &-default-16 {
        padding: $sizing-16 !important;
    }

}
