$sizing-1: 0.25rem;
$sizing-2: 0.5rem;
$sizing-3: 0.75rem;
$sizing-4: 1rem;
$sizing-5: 1.25rem;
$sizing-6: 1.5rem;
$sizing-7: 1.75rem;
$sizing-8: 2rem;
$sizing-9: 2.25rem;
$sizing-10: 2.5rem;
$sizing-11: 2.75rem;
$sizing-12: 3rem;
$sizing-13: 3.25rem;
$sizing-14: 3.5rem;
$sizing-15: 3.75rem;
$sizing-16: 4rem;

$sizing-small-1: 0.01rem;
$sizing-small-2: 0.02rem;
$sizing-small-3: 0.03rem;
$sizing-small-4: 0.04rem;
$sizing-small-5: 0.05rem;
$sizing-small-6: 0.06rem;
$sizing-small-7: 0.07rem;
$sizing-small-8: 0.08rem;
$sizing-small-9: 0.09rem;
$sizing-small-10: 0.1rem;
$sizing-small-11: 0.11rem;
$sizing-small-12: 0.12rem;
$sizing-small-13: 0.13rem;
$sizing-small-14: 0.14rem;
$sizing-small-15: 0.15rem;
$sizing-small-16: 0.16rem;
$sizing-small-17: 0.17rem;
$sizing-small-18: 0.18rem;
$sizing-small-19: 0.19rem;

$padding-1: $sizing-1;
$padding-2: $sizing-2;
$padding-3: $sizing-3;
$padding-4: $sizing-4;
$padding-5: $sizing-5;
$padding-6: $sizing-6;
$padding-7: $sizing-7;
$padding-8: $sizing-8;
$padding-9: $sizing-9;
$padding-10: $sizing-10;
$padding-11: $sizing-11;
$padding-12: $sizing-12;
$padding-13: $sizing-13;
$padding-14: $sizing-14;
$padding-15: $sizing-15;
$padding-16: $sizing-16;

$margin-1: $sizing-1;
$margin-2: $sizing-2;
$margin-3: $sizing-3;
$margin-4: $sizing-4;
$margin-5: $sizing-5;
$margin-6: $sizing-6;
$margin-7: $sizing-7;
$margin-8: $sizing-8;
$margin-9: $sizing-9;
$margin-10: $sizing-10;
$margin-11: $sizing-11;
$margin-12: $sizing-12;
$margin-13: $sizing-13;
$margin-14: $sizing-14;
$margin-15: $sizing-15;
$margin-16: $sizing-16;

.p {

    &-l1 {
        padding-left: $padding-1 !important;
    }
    
    &-l2 {
        padding-left: $padding-2 !important;
    }

    &-l3 {
        padding-left: $padding-3 !important;
    }
    
    &-l4 {
        padding-left: $padding-4 !important;
    }
    
    &-l5 {
        padding-left: $padding-5 !important;
    }
    
    &-l6 {
        padding-left: $padding-6 !important;
    }
    
    &-l7 {
        padding-left: $padding-7 !important;
    }
    
    &-l8 {
        padding-left: $padding-8 !important;
    }
    
    &-l9 {
        padding-left: $padding-9 !important;
    }
    
    &-l10 {
        padding-left: $padding-10 !important;
    }
    
    &-l11 {
        padding-left: $padding-11 !important;
    }
    
    &-l12 {
        padding-left: $padding-12 !important;
    }
    
    &-l13 {
        padding-left: $padding-13 !important;
    }
    
    &-l14 {
        padding-left: $padding-14 !important;
    }
    
    &-l15 {
        padding-left: $padding-15 !important;
    }
    
    &-l16 {
        padding-left: $padding-16 !important;
    }
    
    &-r1 {
        padding-right: $padding-1 !important;
    }
    
    &-r2 {
        padding-right: $padding-2 !important;
    }
    
    &-r3 {
        padding-right: $padding-3 !important;
    }
    
    &-r4 {
        padding-right: $padding-4 !important;
    }
    
    &-r5 {
        padding-right: $padding-5 !important;
    }
    
    &-r6 {
        padding-right: $padding-6 !important;
    }
    
    &-r7 {
        padding-right: $padding-7 !important;
    }
    
    &-r8 {
        padding-right: $padding-8 !important;
    }
    
    &-r9 {
        padding-right: $padding-9 !important;
    }
    
    &-r10 {
        padding-right: $padding-10 !important;
    }
    
    &-r11 {
        padding-right: $padding-11 !important;
    }
    
    &-r12 {
        padding-right: $padding-12 !important;
    }
    
    &-r13 {
        padding-right: $padding-13 !important;
    }
    
    &-r14 {
        padding-right: $padding-14 !important;
    }
    
    &-r15 {
        padding-right: $padding-15 !important;
    }
    
    &-r16 {
        padding-right: $padding-16 !important;
    }
    
    &-t1 {
        padding-top: $padding-1 !important;
    }
    
    &-t2 {
        padding-top: $padding-2 !important;
    }
    
    &-t3 {
        padding-top: $padding-3 !important;
    }
    
    &-t4 {
        padding-top: $padding-4 !important;
    }
    
    &-t5 {
        padding-top: $padding-5 !important;
    }
    
    &-t6 {
        padding-top: $padding-6 !important;
    }
    
    &-t7 {
        padding-top: $padding-7 !important;
    }
    
    &-t8 {
        padding-top: $padding-8 !important;
    }
    
    &-t9 {
        padding-top: $padding-9 !important;
    }
    
    &-t10 {
        padding-top: $padding-10 !important;
    }
    
    &-t11 {
        padding-top: $padding-11 !important;
    }
    
    &-t12 {
        padding-top: $padding-12 !important;
    }
    
    &-t13 {
        padding-top: $padding-13 !important;
    }
    
    &-t14 {
        padding-top: $padding-14 !important;
    }
    
    &-t15 {
        padding-top: $padding-15 !important;
    }
    
    &-t16 {
        padding-top: $padding-16 !important;
    }
    
    &-b1 {
        padding-bottom: $padding-1 !important;
    }

    &-b2 {
        padding-bottom: $padding-2 !important;
    }
    
    &-b3 {
        padding-bottom: $padding-3 !important;
    }
    
    &-b4 {
        padding-bottom: $padding-4 !important;
    }
    
    &-b5 {
        padding-bottom: $padding-5 !important;
    }
    
    &-b6 {
        padding-bottom: $padding-6 !important;
    }
    
    &-b7 {
        padding-bottom: $padding-7 !important;
    }
    
    &-b8 {
        padding-bottom: $padding-8 !important;
    }
    
    &-b9 {
        padding-bottom: $padding-9 !important;
    }
    
    &-b10 {
        padding-bottom: $padding-10 !important;
    }
    
    &-b11 {
        padding-bottom: $padding-11 !important;
    }
    
    &-b12 {
        padding-bottom: $padding-12 !important;
    
    }
    
    &-b13 {
        padding-bottom: $padding-13 !important;
    }
    
    &-b14 {
        padding-bottom: $padding-14 !important;
    }
    
    &-b15 {
        padding-bottom: $padding-15 !important;
    }
    
    &-b16 {
        padding-bottom: $padding-16 !important;
    }
    
    &-x1 {
        padding-left: $padding-1 !important;
        padding-right: $padding-1 !important;
    }
    
    &-x2 {
        padding-left: $padding-2 !important;
        padding-right: $padding-2 !important;
    }
    
    &-x3 {
        padding-left: $padding-3 !important;
        padding-right: $padding-3 !important;
    }
    
    &-x4 {
        padding-left: $padding-4 !important;
        padding-right: $padding-4 !important;
    }
    
    &-x5 {
        padding-left: $padding-5 !important;
        padding-right: $padding-5 !important;
    }
    
    &-x6 {
        padding-left: $padding-6 !important;
        padding-right: $padding-6 !important;
    }
    
    &-x7 {
        padding-left: $padding-7 !important;
        padding-right: $padding-7 !important;
    }
    
    &-x8 {
        padding-left: $padding-8 !important;
        padding-right: $padding-8 !important;
    }
    
    &-x9 {
        padding-left: $padding-9 !important;
        padding-right: $padding-9 !important;
    }
    
    &-x10 {
        padding-left: $padding-10 !important;
        padding-right: $padding-10 !important;
    }
    
    &-x11 {
        padding-left: $padding-11 !important;
        padding-right: $padding-11 !important;
    }
    
    &-x12 {
        padding-left: $padding-12 !important;
        padding-right: $padding-12 !important;
    }
    
    &-x13 {
        padding-left: $padding-13 !important;
        padding-right: $padding-13 !important;
    }
    
    &-x14 {
        padding-left: $padding-14 !important;
        padding-right: $padding-14 !important;
    }
    
    &-x15 {
        padding-left: $padding-15 !important;
        padding-right: $padding-15 !important;
    }
    
    &-x16 {
        padding-left: $padding-16 !important;
        padding-right: $padding-16 !important;
    }
    
    &-y1 {
        padding-top: $padding-1 !important;
        padding-bottom: $padding-1 !important;
    }
    
    &-y2 {
        padding-top: $padding-2 !important;
        padding-bottom: $padding-2 !important;
    }
    
    &-y3 {
        padding-top: $padding-3 !important;
        padding-bottom: $padding-3 !important;
    }
    
    &-y4 {
        padding-top: $padding-4 !important;
        padding-bottom: $padding-4 !important;
    }
    
    &-y5 {
        padding-top: $padding-5 !important;
        padding-bottom: $padding-5 !important;
    }
    
    &-y6 {
        padding-top: $padding-6 !important;
        padding-bottom: $padding-6 !important;
    }
    
    &-y7 {
        padding-top: $padding-7 !important;
        padding-bottom: $padding-7 !important;
    }
    
    &-y8 {
        padding-top: $padding-8 !important;
        padding-bottom: $padding-8 !important;
    }
    
    &-y9 {
        padding-top: $padding-9 !important;
        padding-bottom: $padding-9 !important;
    }
    
    &-y10 {
        padding-top: $padding-10 !important;
        padding-bottom: $padding-10 !important;
    }
    
    &-y11 {
        padding-top: $padding-11 !important;
        padding-bottom: $padding-11 !important;
    }
    
    &-y12 {
        padding-top: $padding-12 !important;
        padding-bottom: $padding-12 !important;
    }
    
    &-y13 {
        padding-top: $padding-13 !important;
        padding-bottom: $padding-13 !important;
    }
    
    &-y14 {
        padding-top: $padding-14 !important;
        padding-bottom: $padding-14 !important;
    }
    
    &-y15 {
        padding-top: $padding-15 !important;
        padding-bottom: $padding-15 !important;
    }
    
    &-y16 {
        padding-top: $padding-16 !important;
        padding-bottom: $padding-16 !important;
    }

}

.m {
    &-l1 {
        margin-left: $margin-1 !important;
    }
    &-l2 {
        margin-left: $margin-2 !important;
    }
    &-l3 {
        margin-left: $margin-3 !important;
    }
    &-l4 {
        margin-left: $margin-4 !important;
    }
    &-l5 {
        margin-left: $margin-5 !important;
    }
    &-l6 {
        margin-left: $margin-6 !important;
    }
    &-l7 {
        margin-left: $margin-7 !important;
    }
    &-l8 {
        margin-left: $margin-8 !important;
    }
    &-l9 {
        margin-left: $margin-9 !important;
    }
    &-l10 {
        margin-left: $margin-10 !important;
    }
    &-l11 {
        margin-left: $margin-11 !important;
    }
    &-l12 {
        margin-left: $margin-12 !important;
    }
    &-l13 {
        margin-left: $margin-13 !important;
    }
    &-l14 {
        margin-left: $margin-14 !important;
    }
    &-l15 {
        margin-left: $margin-15 !important;
    }
    &-l16 {
        margin-left: $margin-16 !important;
    }
    &-r1 {
        margin-right: $margin-1 !important;
    }
    &-r2 {
        margin-right: $margin-2 !important;
    }
    &-r3 {
        margin-right: $margin-3 !important;
    }
    &-r4 {
        margin-right: $margin-4 !important;
    }
    &-r5 {
        margin-right: $margin-5 !important;
    }
    &-r6 {
        margin-right: $margin-6 !important;
    }
    &-r7 {
        margin-right: $margin-7 !important;
    }
    &-r8 {
        margin-right: $margin-8 !important;
    }
    &-r9 {
        margin-right: $margin-9 !important;
    }
    &-r10 {
        margin-right: $margin-10 !important;
    }
    &-r11 {
        margin-right: $margin-11 !important;
    }
    &-r12 {
        margin-right: $margin-12 !important;
    }
    &-r13 {
        margin-right: $margin-13 !important;
    }
    &-r14 {
        margin-right: $margin-14 !important;
    }
    &-r15 {
        margin-right: $margin-15 !important;
    }
    &-r16 {
        margin-right: $margin-16 !important;
    }
    &-t1 {
        margin-top: $margin-1 !important;
    }
    &-t2 {
        margin-top: $margin-2 !important;
    }
    &-t3 {
        margin-top: $margin-3 !important;
    }
    &-t4 {
        margin-top: $margin-4 !important;
    }
    &-t5 {
        margin-top: $margin-5 !important;
    }
    &-t6 {
        margin-top: $margin-6 !important;
    }
    &-t7 {
        margin-top: $margin-7 !important;
    }
    &-t8 {
        margin-top: $margin-8 !important;
    }
    &-t9 {
        margin-top: $margin-9 !important;
    }
    &-t10 {
        margin-top: $margin-10 !important;
    }
    &-t11 {
        margin-top: $margin-11 !important;
    }
    &-t12 {
        margin-top: $margin-12 !important;
    }
    &-t13 {
        margin-top: $margin-13 !important;
    }
    &-t14 {
        margin-top: $margin-14 !important;
    }
    &-t15 {
        margin-top: $margin-15 !important;
    }
    &-t16 {
        margin-top: $margin-16 !important;
    }
    &-b1 {
        margin-bottom: $margin-1 !important;
    }
    &-b2 {
        margin-bottom: $margin-2 !important;
    }
    &-b3 {
        margin-bottom: $margin-3 !important;
    }
    &-b4 {
        margin-bottom: $margin-4 !important;
    }
    &-b5 {
        margin-bottom: $margin-5 !important;
    }
    &-b6 {
        margin-bottom: $margin-6 !important;
    }
    &-b7 {
        margin-bottom: $margin-7 !important;
    }
    &-b8 {
        margin-bottom: $margin-8 !important;
    }
    &-b9 {
        margin-bottom: $margin-9 !important;
    }
    &-b10 {
        margin-bottom: $margin-10 !important;
    }
    &-b11 {
        margin-bottom: $margin-11 !important;
    }
    &-b12 {
        margin-bottom: $margin-12 !important;
    }
    &-b13 {
        margin-bottom: $margin-13 !important;
    }
    &-b14 {
        margin-bottom: $margin-14 !important;
    }
    &-b15 {
        margin-bottom: $margin-15 !important;
    }
    &-b16 {
        margin-bottom: $margin-16 !important;
    }

    &-x1 {
        margin-left: $margin-1 !important;
        margin-right: $margin-1 !important;
    }
    &-x2 {
        margin-left: $margin-2 !important;
        margin-right: $margin-2 !important;
    }
    &-x3 {
        margin-left: $margin-3 !important;
        margin-right: $margin-3 !important;
    }
    &-x4 {
        margin-left: $margin-4 !important;
        margin-right: $margin-4 !important;
    }
    &-x5 {
        margin-left: $margin-5 !important;
        margin-right: $margin-5 !important;
    }
    &-x6 {
        margin-left: $margin-6 !important;
        margin-right: $margin-6 !important;
    }
    &-x7 {
        margin-left: $margin-7 !important;
        margin-right: $margin-7 !important;
    }
    &-x8 {
        margin-left: $margin-8 !important;
        margin-right: $margin-8 !important;
    }
    &-x9 {
        margin-left: $margin-9 !important;
        margin-right: $margin-9 !important;
    }
    &-x10 {
        margin-left: $margin-10 !important;
        margin-right: $margin-10 !important;
    }
    &-x11 {
        margin-left: $margin-11 !important;
        margin-right: $margin-11 !important;
    }
    &-x12 {
        margin-left: $margin-12 !important;
        margin-right: $margin-12 !important;
    }
    &-x13 {
        margin-left: $margin-13 !important;
        margin-right: $margin-13 !important;
    }
    &-x14 {
        margin-left: $margin-14 !important;
        margin-right: $margin-14 !important;
    }
    &-x15 {
        margin-left: $margin-15 !important;
        margin-right: $margin-15 !important;
    }
    &-x16 {
        margin-left: $margin-16 !important;
        margin-right: $margin-16 !important;
    }
    &-y1 {
        margin-top: $margin-1 !important;
        margin-bottom: $margin-1 !important;
    }
    &-y2 {
        margin-top: $margin-2 !important;
        margin-bottom: $margin-2 !important;
    }
    &-y3 {
        margin-top: $margin-3 !important;
        margin-bottom: $margin-3 !important;
    }
    &-y4 {
        margin-top: $margin-4 !important;
        margin-bottom: $margin-4 !important;
    }
    &-y5 {
        margin-top: $margin-5 !important;
        margin-bottom: $margin-5 !important;
    }
    &-y6 {
        margin-top: $margin-6 !important;
        margin-bottom: $margin-6 !important;
    }
    &-y7 {
        margin-top: $margin-7 !important;
        margin-bottom: $margin-7 !important;
    }
    &-y8 {
        margin-top: $margin-8 !important;
        margin-bottom: $margin-8 !important;
    }
    &-y9 {
        margin-top: $margin-9 !important;
        margin-bottom: $margin-9 !important;
    }
    &-y10 {
        margin-top: $margin-10 !important;
        margin-bottom: $margin-10 !important;
    }
    &-y11 {
        margin-top: $margin-11 !important;
        margin-bottom: $margin-11 !important;
    }
    &-y12 {
        margin-top: $margin-12 !important;
        margin-bottom: $margin-12 !important;
    }
    &-y13 {
        margin-top: $margin-13 !important;
        margin-bottom: $margin-13 !important;
    }
    &-y14 {
        margin-top: $margin-14 !important;
        margin-bottom: $margin-14 !important;
    }
    &-y15 {
        margin-top: $margin-15 !important;
        margin-bottom: $margin-15 !important;
    }
    &-y16 {
        margin-top: $margin-16 !important;
        margin-bottom: $margin-16 !important;
    }

}