@import
'../../../styles/colors.scss', 
'../../../styles/mixins.scss';

$gray: #C4C4C4;

.card {
  height: 120px;
  min-width: 180px;
  max-width: 180px;
  background-color: $white;
  box-shadow: 0px 2px 4px #00000014;
  border-radius: 10px;
  overflow: hidden;
  @include breakpoint(tablet) { 
    height: 160px;
    min-width: 250px;
    max-width: 250px;
  }
  @include breakpoint(desktop) { 
    height: 170px;
    min-width: 298px;
    max-width: 298px;
  }
  .cardBlueBox {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 28px;
  }
  .heart {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    svg {
      fill: $gray;
    }
  }
  .heartActive {
    svg {
      fill: $red;
    }
  }

  &:hover {
    transform: scale(1.1, 1.1);
    .cardBlueBox {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 117, 213, 0.7)
    }
  }
}
