@import '../../styles/mixins.scss',
'../../styles/colors.scss';

$grey: #5E5E5E;
$lightGray: #8E8E8E;

.stories {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint(tablet) {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.contentDescriptionWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 60px;
    padding-bottom: 128px;
    background-image: url(./src/backGroundStories.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
  }
}

.contentDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint(tablet) {
    justify-content: center;
    align-items: flex-start
  }
}

.arrowButton {
  margin-left: 20px;
  @include breakpoint(tablet) {
    margin-left: 28px;
  }
}

.storieTitle {
  margin-top: 24px;
  font-size: 31px;
  line-height: 120%;
  color: $darkBlue;
  @include breakpoint(tablet) {
    font-size: 61px;
  }
}

.campDragonBG {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 262px;
  height: 262px;
  margin-top: 24px;
  @include breakpoint(tablet) { display: none; }
}

.campDragonBGTablet {
  display: none;
  flex: 1;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 24px;
  
  img {
    width: 262px;
    height: 262px;
  }
  @include breakpoint(tablet) {
    display: flex;
    margin-left: 50px;
    img {
      width: 369px;
      height: 369px;
    }
  }
  @include breakpoint(desktop) {
    margin-left: 100px;
    display: flex;
    img {
      width: 500px;
      height: 500px;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  @include breakpoint(tablet) {
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-top: 0;
  }
}

.descriptionActions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: -32px;
  button {
    margin-top: 32px;
  }
  @include breakpoint(tablet) {
    flex-direction: row;
    padding-top: 40px;
    margin-top: -20px;
    margin-left: -32px;
    button {
      margin-top: 30px;
      margin-left: 32px;
    }
  }
}

.descriprionTextWrap {
  padding: 20px 0;
  @include breakpoint(tablet) {
    padding: 0;
    margin-top: 40px;
  }
}

.descriprionText {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: $grey;
  line-height: 24px;
  @include breakpoint(tablet) {
    font-size: 18px;
  }
}

.lesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: $beige;
  width: 100%;
  flex-wrap: wrap;
  @include breakpoint(tablet) {
    flex-direction: row;
    padding: 59px 50px;
    justify-content: center;
  }
}

.lessonVideo {
  padding: 8px;
  background-color: $white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  border-radius: 22px;
  width: 100%;
  @include breakpoint(tablet) {
    border-radius: 22px;
    width: auto;
  }
}

.lessonVideoIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  width: 100%;
  height: 176px;
  background-color: $lightGray;
  @include breakpoint(tablet) {
    width: 499px;
    height: 279px;
  }
  @include breakpoint(desktop) {
    width: 610px;
    height: 342px;
  }
}

.lessonVideoIcon {
  width: 80px;
  height: 80px;
}

.lessonVideoTitleWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.notesIcon {
  margin-left: auto;
  margin-right: 0;
  width: 19px;
  height: 24px;
  @include breakpoint(tablet) {
    width: 23px;
    height: 28px;
  }
}

.lessonVideoTitle {
  margin-left: auto;
  margin-right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $darkBlue;
  @include breakpoint(tablet) {
    font-size: 20px;
  }
}

.lessonActionList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  width: 100%;
  @include breakpoint(tablet) {
    margin-top: 0;
    margin-left: 48px;
    width: auto;
  }
  @include breakpoint(desktop) {
    margin-left: 130px;
  }
}

.lessonButton {
  width: 100%;
}


.storiesSlider {
  padding: 50px 0px;
  width: 100%;
}