@import '../../../../styles/colors.scss', '../../../../styles/mixins.scss';
$lightGreen: #33D291;


.favoriteButton {
  display: flex;
  border: none;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  background-color: $white;
  padding: 8px;
  background-color: $white;
  border-radius: 60px;
  width: max-content;
  @include breakpoint(tablet) {
    margin-top: 0;
  }
  &:hover {
    background-color: $blue;
  }
}

.favoriteIconWrap {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 60px;
  background-color: $blue;
  @include breakpoint(tablet) {
    width: max-content;
    padding: 7px 7px;
  }
}

.buttonTitle {
  margin-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: $white;
}

.favoriteIconCover {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: $white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.favoriteIcon {
  background-size: cover;
  width: 14px;
  height: 12px;
  background-position: center;
}
