@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import 'styles/index';

body {
  margin: 0;
  font-family: $default-fun-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $default-fun-font-family;
}

html, body, #root, #root>div {
  height: 100vh;
  background-color: $color-default-background;
  font-family: $default-fun-font-family;
}

.cursor {
  cursor: pointer;
}

.logo {
  background-color: #faf8e9;
  min-width: 359px;
  max-width: 359px;
  min-height: 75px;
  max-height: 75px;
  display: block;
  background-image: url('./assets/logo.png');
}


