@import '../../styles/mixins.scss',
'../../styles/colors.scss';

$gray: #8E8E8E;

.navgationButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    div {
      background: var(--active-color) !important;
    }
    label {
      color: var(--active-color) !important;
    }
    svg {
      fill: $white;
    }
  } 
}

.navgationButtonIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  svg {
    width: 26px;
    height: 26px;
    @include breakpoint(tablet) { 
      width: 42px;
      height: 42px;
    }
  }
  @include breakpoint(tablet) {
    width: 80px;
    height: 80px;
  }
}

.navgationButtonLabel {
  margin-top: 12px;
  font-size: 20px;
  line-height: 1.2;
  color: $gray;
  transition: transform 0.3s ease;
  display: none;
  @include breakpoint(tablet) { 
   display: inline;
  }
}
